<nav class="nav">
  <div class="nav-top">
    <button class="hamburger-menu" aria-label="Toggle menu">
      <span class="hamburger-line"></span>
      <span class="hamburger-line"></span>
      <span class="hamburger-line"></span>
    </button>
  </div>

  <div class="nav-content">
    <%= image_tag "vell2-headshot.jpg", alt: "Image of Lovell McIlwain", class: "rounded-image" %>
    <p class="nav-title">Lovell McIlwain</p>
    <ul class="nav-list">
      <li class="nav-item"><%= link_to :Home, "/index.html", class: :link, relative: true %></li>
      <li class="nav-item">
        <%= link_to "Learn More", "/learn-more.html", class: :link, relative: true %>
      </li>
      <li class="nav-item">
        <%= mail_to "mailto:lovell.mcilwain@gmail.com", "Contact Me", class: :link %>
      </li>
      <li class="nav-item">
        <%= link_to :LinkedIn, "https://linkedin.com/in/vmcilwain", class: :link, target: "_blank" %>
      </li>
      <li class="nav-item">
        <%= link_to :Github, "https://github.com/vmcilwain", class: :link, target: "_blank" %>
      </li>
    </ul>

    <ul class="slogan">
      <li class="list-item">Innovative</li>
      <li class="list-item">Collaborative</li>
      <li class="list-item">Adaptable</li>
    </ul>

    <p class="work-status">
      Status: <span class="unemployed">#opentowork</span>
    </p>
  </div>
</nav>